node_modules/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Node модули
node_modules/

# Временные файлы
*.log
*.tmp

../api/__pycache__/
../api/migrations/__pycache__/
../map_app/__pycache__/
../map_app/settings.py
